 @{
    ViewBag.Title = "Home Page";
 }

<div class="header">
    <div class="header-info ">
        <h1 class="text-info"> <q>Today readers, tomorrow leaders.</q> we don't just say it we make it possible</h1>
    </div>
</div>
<p class="lead text-center text-info">A resourceful media marketplace providing  you with loads of movies and books...</p>
<!--show books section-->
<div class="section-info"><h3 class="section-info-text">Some of our books</h3></div>

<div id="books-section" class="row text-center "></div>

<div class="section-info"><h3 class="section-info-text">Some of our movies</h3></div>

<div id="movies-section" class="row text-center "></div>



<script defer src="~/Scripts/HomeIndex.js"></script>