
@{
    ViewBag.Title = "Services";
}
<div class="welcome-message">
    @Html.Raw(ViewData["html"])
</div>

<div class="services-header text-center">
   <h2>Quickly search and get the picture of the movie that piqued your interest before you head out to watch it</h2>

</div>

<div class="movie-input">
    <div class="search-input-container">
        <input id="search-movie-input" placeholder="Enter name then click out"/>
    </div>
    
</div>


<div class="text-center movies-container" id="services-sample-movies">
   
</div>

<div class="services-books">
    <p> <a href="https://books.google.com" target="_blank">click here</a> to read books</p>
</div>

<script defer src="~/Scripts/Services.js"></script>