
@{
    ViewBag.Title = "Services";
}
<div class="welcome-message">
    @Html.Raw(ViewData["html"])
</div>

<div class="movie-input">
    <div class="search-input-container">
        <input id="search-movie-input" value="Enter Movie name"/>
    </div>
    
</div>


<div class="text-center movies-container" id="services-sample-movies">
   
</div>

<script defer src="~/Scripts/Services.js"></script>